@model SocialNetworkApplication.Models.Profile

@{
    ViewBag.Title = "Index";
}

<h3>
    @Html.DisplayFor(model => model.first_name)
    @Html.DisplayFor(model => model.last_name)'s Address Records
</h3>

<p>
    @Html.ActionLink("Add New Address", "Create")
</p>

@Html.Partial("AddressList", Model.Addresses)
@Html.ActionLink("Back to List", "Index", "Profile")