@model IEnumerable<SocialNetworkApplication.Models.Picture>

@{
    IEnumerable<SocialNetworkApplication.Models.Like> theLike = ViewBag.theLike;
    bool exists = false;
}

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.caption)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.path)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.time)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.location)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.caption)
            </td>
            <td>
                <img src="/Images/@Html.DisplayFor(modelItem => item.path)" style="max-height:100px; max-width:100px">
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.time)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.location)
            </td>
            <td>
                @Html.ActionLink("Comment Picture", "Index", "Comment", new { id = item.picture_id }, null) |
                @Html.ActionLink("Set as Profile Picture", "MakeMyProfile", new { id = item.picture_id }, null) |

                @foreach (var likeItem in theLike)
                {
                    if (item.picture_id == likeItem.picture_id)
                    {
                        exists = true;
                    }
                    else
                    {
                        exists = false;
                    }                 
                }

                @if (exists == false)
                {
                @Html.ActionLink("Like Picture", "LikePicture", new { id = item.picture_id }, null)
                }
                else
                {
                @Html.ActionLink("Unlike Picture", "UnLikePicture", new { id = item.picture_id }, null)
                }

            </td>
        </tr>
    }

</table>